@page { size: A4; margin: 20mm; }
h1 { color:darkblue; }

/* 폰트 설정(하지 않으면 글씨가 깨짐) - NanumMyeongjo Regular */
@font-face {
  font-family: 'NanumMyeongjo';
  src: url('fonts/malgun.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'NanumMyeongjo';
  src: url('fonts/malgunbd.ttf') format('truetype');
  font-weight: 700;
}
body { font-family: 'NanumMyeongjo', sans-serif; }

h1 {
    color: darkblue;
    font-weight: 700;
}